
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>OneIDE</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../../static/admin/admin/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../../static/admin/admin/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../../static/admin/admin/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/adminhome2">
            <img src="../../static/admin/admin/images/logo.png" alt="">
            <span>
              OneIDE
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="/adminhome2">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/vieworblock"> Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/complaint"> Complaint </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/feedback"> Feedback </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/viewcode"> Users code </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sampleprogram"> Sample Programs</a>
                </li>
                  {% if user.is_authenticated %}
                     <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a> </li>
                  {% else %}
                      <li class="nav-item"> <a class="nav-link" href="/login">Login</a> </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">


          {% block body %}
      {% endblock %}


      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->
  
  <!-- end service section -->

  <!-- about section -->
  

  <!-- end about section -->




  <!-- blog section -->

  

  <!-- end contact section -->


  <!-- info section -->

  
  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; 2025 All Rights Reserved By
            <a href="https://html.design/">OneIDE</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->


  <script src="../../static/admin/admin/js/jquery-3.4.1.min.js"></script>
  <script src="../../static/admin/admin/js/bootstrap.js"></script>

</body>

</html>